<div class="container">

    <h3 class="d-flex justify-content-center">Sports Event Management Portal</h3>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">

            <li class="nav-item">
                <button routerLink="sports" class="m-1 btn btn-light btn-outline-primary" Button>Sports</button>
            </li>

            <li class="nav-item">
                <button routerLink="event" class="m-1 btn btn-light btn-outline-primary" Button>Events</button>
            </li>

            <li class="nav-item">
                <button routerLink="players" class="m-1 btn btn-light btn-outline-primary" Button>Players</button>
            </li>
            <li class="nav-item">
                <button routerLink="participation" class="m-1 btn btn-light btn-outline-primary" Button>Participation</button>
            </li>
            <li><div style="margin-left: 37rem;margin-top: 0.5rem;">{{username}}</div></li><li class="nav-item">
                <button routerLink="../login" class="m-1 btn btn-light btn-outline-primary" Button>Logout</button>
            </li>
        </ul>
        
    </nav>

    <router-outlet></router-outlet>

</div>