<div class="form-froup row">

    <label class="col-sm-2 col-form-label">No Of Players</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="NoOfPlayers" placeholder="Enter No Of Players">
    </div>
    <label class="col-sm-2 col-form-label">Sports Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="SportsName" placeholder="Enter Sports Name">
    </div>
    <label class="col-sm-2 col-form-label">Sports Type</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="SportsType" placeholder="Enter Sports Type">
    </div>
</div>

